.title{
    color: lightgreen;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}
.button-cont{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center; /* centers horizontally */
    align-items: center;
    height: 600px; 



}
  #p1{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  #p2 {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  } 
  #p3{
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  #p1.clicked {
    animation: poof 0.5s forwards;

  }
  #p2.clicked {
    animation: poof 0.5s forwards;

  }
  #p3.clicked {
    animation: poof 0.5s forwards;

  }
  @keyframes poof {
    0% {
      opacity: 1;
      transform: scale(1);
    }
    50% {
      opacity: 0.5;
      transform: scale(0.5);
    }
    100% {
      opacity: 0;
      transform: scale(0);
    }
  }